.container{
    @apply
    bg-white 
    py-6
}

.innerContainer{
    @apply
    container 
    mx-auto
}

.categoriesText{
    @apply
    font-semibold 
    text-sm 
    mb-2
}

.categoryList{
    @apply
    grid 
    grid-cols-3 
    sm:grid-cols-6 
    md:grid-cols-8 
    lg:grid-cols-10 
    xl:grid-cols-11 
    2xl:grid-cols-12
}