.container {
    @apply
    bg-green-800 
    px-8
}

.innerContainer {
    @apply
    h-14 
    sm:h-11 
    container 
    mx-auto 
    flex 
    items-center 
    justify-center 
    sm:justify-between
}

.headerText{
    @apply
    hover:text-opacity-100 
    transition-colors
    text-white
    text-opacity-80
    text-sm
    font-semibold
    gap-x-2
    flex
    items-center
}

.headerGroup{
    @apply
    gap-x-8
    hidden
    sm:flex
    bg-green-800 
}

.currentHeader{
    @apply
    gap-x-8
    hidden
    sm:flex
    bg-green-400
    p-2
}

.logoMark{
    @apply
    hover:transition-colors
    text-white
    text-xl 
    font-semibold
    gap-x-2
    flex items-center
}

.logoMarkContainer{
    @apply
    text-lg 
    text-white 
    font-semibold
}

.subtitleHeader{
    @apply
    bg-green-400 
    flex 
    h-8
    items-center 
    text-white
    font-semibold
    pl-24
}