@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading-spinner {
    width: 30px;
    height: 30px;
    border: 6px solid #fff;
    border-top: 6px solid #1CA049;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }