.container{
    @apply
    bg-white 
    py-6
}

.innerContainer{
    @apply
    container 
    mx-auto
}

.organizationsTitle{
    @apply
    font-bold 
    text-2xl
    mb-2 text-main
}

.organizationsDesc {
    @apply
    mt-2 text-lg
}

.organizationList{
    @apply
    grid 
    grid-cols-3 
    sm:grid-cols-6 
    md:grid-cols-8 
    lg:grid-cols-10 
    xl:grid-cols-11 
    2xl:grid-cols-12
    mt-10
}